.DS_Store
Thumbs.db

*.webp

.idea/
.vscode/
*.iml
*.ipr
*.iws

.gradle/
**/.gradle/
local.properties
gradle-app.setting
gradle-app.iml

**/build/
.cxx/
**/.cxx/
.externalNativeBuild/
**/.externalNativeBuild/
captures/
**/captures/
outputs/
**/outputs/
app/release/

*.apk
*.ap_
*.aab
*.aar
*.dex
*.class
*.log
*.hprof
*.stacktrace
*.crash
*.tmp
*.orig
*.rej
*.swp
*.swo
*.keystore
*.jks
key.properties
